<div class="container mx-auto py-8">
  <h1 class="text-3xl font-bold mb-4 text-brown-900">Diary List</h1>
  <ul class="space-y-4">
    {% for diary in diaries %}
      <li class="bg-white shadow-md rounded-4xl p-6 hover:shadow-lg transition-shadow duration-300">
        <a href="#/diary/{{ diary.num }}" class="block">
          <span class="text-xl font-semibold text-brown-800 hover:text-brown-600 transition-colors duration-300">{{ diary.title }}</span>
{#        <p class="text-brown-700 mt-2">{{ diary.diaryTitle }}</p>#}
          <p class="text-brown-700 mt-2">{{ diary.diarySummary }}</p>
          <p class="text-brown-500 mt-1 text-sm">{{ diary.diaryTime }}</p>
          <div class="mt-4 flex space-x-2">
            <!-- Display emotion icons here -->
            <span class="text-2xl">{{ emoji[diary.diaryEmotion] }}</span>
{#            <span class="text-xl">{{ diary.diaryEmotion }}</span>#}
      
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
