<h2>Profile Information</h2>

<p>User ID: {{ user.userId }}</p>
<p>User Name: {{ user.userName }}</p>
<p>User Age: {{ user.userAge }}</p>
<p>User Gender: {{ user.gender }}</p>
<p>User Address: {{ user.userAddress }}</p>
<p>Signup Time: {{ user.signupTime }}</p>
