<h2>Profile Information</h2>

<p>User ID: {{ usr.userId }}</p>
<p>User Name: {{ usr.userName }}</p>
<p>User Age: {{ usr.userAge }}</p>
<p>User Gender: {{ usr.gender }}</p>
<p>User Address: {{ usr.userAddress }}</p>
<p>Signup Time: {{ usr.signupTime }}</p>
{#Object { num: 1, signupTime: "Thu, 13 Jun 2024 14:06:04 GMT", userAddress: "aklsjklasdfjk", userAge: 9, userGender: "m", userId: "user1", userName: "name2", userPw: "1q2w3e4r%" }
​
num: 1
​
signupTime: "Thu, 13 Jun 2024 14:06:04 GMT"
​
userAddress: "aklsjklasdfjk"
​
userAge: 9
​
userGender: "m"
​
userId: "user1"
​
userName: "name2"
​
userPw: "1q2w3e4r%"
​
<prototype>: Object { … }
main.ts:66:12
#}
